@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swipeable-list-item__leading-actions,
.swipeable-list-item__trailing-actions {
  @apply text-white text-lg uppercase font-bold;
}

.swipeable-list-item__leading-actions {
  @apply bg-blue-500;
}

.swipeable-list-item__trailing-actions {
  @apply bg-pink-500;
}

.swipeable-list .swipe-action {
  @apply grid justify-center items-center;
}
