.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input[type="text"],
.form select {
    padding: 1rem;
    background-color: gray;
    border: .3rem solid white;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 1rem;
}

.field ::placeholder {
    color: white;
}

.submit {
    background-color: slategrey;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1.2rem;
    border-radius: 1rem;
}